<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}} Created by {{user.name}} on {{format_date date_created}}</p>
  <p>{{description}}</p>
  
  <div>
    <form class="form comment-form">
      <div class="form-group">
        <label for="user-comment"><span for="img" aria-label="writing hand">✍️</span></label>
        <textarea class="form-input" id="user-comment" name="user-comment"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" data-id="{{id}}" type="submit" id="commentBtn">Add Comment</button>
      </div>
    </form>
  </div>

<!-- need to work on this whole section alot -->
  {{#if comments.lengths}}<!-- its not just comments.lengths, but more like submission.comments.lengths???? -->
  <div>
    <h3>All Comments:</h3>

    <!-- loop over each comment that links to this exact submission id -->
    {{#each comments as |comment| }}
    <div class="row mb-4 comment-list">
      <div class="col-md-2">
        <h4>
          <!-- Call helper function with triple brackets to render the emoji span as HTML -->
          {{{get_emoji}}}
          <a href="/comments/{{comment.id}}">{{comment.name}}</a>
        </h4>
        <p style="color:grey;">Commented by {{comment.user.name}} on {{format_date comment.date_created}}</p>
      </div>
      <div class="col-md-7">
        <p>
          {{comment.description}}
        </p>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-secondary" data-id="{{comment.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
    
    
  </div>
  {{/if}}
</div>

<script src="/js/comment.js"></script>